<!DOCTYPE html>
<html ng-app="DGE-Chat-Client">
<head lang="en">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="./bower_components/foundation/css/foundation.css"/>-->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./styles/home.css"/>
    <title></title>
</head>
<body>
<div ng-controller="ChatCtrl">
    <span class="label label-default" ng-bind="'/nick nuevoNick para cambiar el nickName'"></span><br/>
    <span class="label label-success" ng-bind="'Nick: ' + message.author"></span>

    <div class="well scroll">
        <span ng-repeat="message in messageLog">
            <span ng-class="{label: message.author == 'Server', 'label-success': message.author == 'Server'}" title="{{message.createdAt}}" ng-bind="message.author +': ' + message.content"></span><br ng-if="!$last"/>
        </span>
    </div>
    <form ng-submit="sendMessage(message)">
        <input type="text" class="input-sm" name="" ng-model="message.content"/>
        <button class="btn btn-success">Send</button>
    </form>
</div>

<script type="application/javascript" src="./bower_components/socket.io-client/dist/socket.io.js"></script>
<script type="application/javascript" src="./bower_components/angular/angular.js"></script>
<script type="application/javascript" src="./bower_components/angular-route/angular-route.js"></script>
<script type="application/javascript" src="./bower_components/angular-socket-io/socket.js"></script>

<!-- CONTROLLERS -->

<script type="application/javascript" src="./scripts/app.js"></script>
<script type="application/javascript" src="./scripts/controllers/chatCtrl/chatCtrl.js"></script>

<!-- SERVICES -->
<script type="application/javascript" src="./scripts/services/socketService.js"></script>
</body>
</html>